openapi: 3.0.3
info:
  title: Rise.ai API Documentation
  version: "2.0"
servers:
- url: https://platform.rise.ai/
tags:
- description: ""
  name: Wallet
- description: ""
  name: Workflows
- description: ""
  name: OAuth
- description: ""
  name: WalletAction
- description: ""
  name: GiftCard
- description: ""
  name: Recipient
- description: ""
  name: GiftCardOrder
- description: ""
  name: Transaction
- description: "# Integrate with Rise\r\n## Rise Partner Overview\r\n\r\nRise offers\
    \ partners the ability to integrate with the Rise platform in a simple and effective\
    \ way. This enhances the merchant experience and leverages Rise's Wallet, store\
    \ credit, and gifting solutions—wherever merchants operate.\r\n\r\n### What’s\
    \ Possible as a Partner?\r\n\r\n- **Use Rise APIs to enhance your product.** \
    \ \r\n  Seamlessly connect your app to the Rise ecosystem.\r\n\r\n- **Integrate\
    \ contextual events from your app.**  \r\n  Notify Rise merchants about events\
    \ on your platform that they can convert into business opportunities.\r\n\r\n\
    - **Expose custom actions and capabilities through Rise Workflows.**  \r\n  Enable\
    \ merchants to automate tasks using your app’s functionality.\r\n\r\n- **Set up\
    \ custom-made recipes.**  \r\n  Provide merchants with pre-built, powerful use-case\
    \ flows.\r\n\r\n- **Communicate with Rise users via the Rise dashboard.**  \r\n\
    \  Use your own custom UI pages and components for a clean, seamless integration\
    \ experience.\r\n\r\n- **Feature your product on the Rise App-Market.**  \r\n\
    \  Gain exposure to thousands of Rise merchants and some of the biggest brands.\r\
    \n\r\n---\r\n## App Submission Process\r\n### Your App-Building Journey\r\n\r\n\
    Ready to get started? Build your app by navigating through the following stages:\r\
    \n\r\n#### Onboard\r\n\r\nStart off by learning about the various parts of the\
    \ Rise ecosystem. This will help you understand where and how you can add your\
    \ own functionality to a Rise merchant.\r\n\r\nYou can jump right in and quickly\
    \ build a simple app, or try out one of our many tutorials and app templates,\
    \ covering a wide range of business cases.\r\n\r\n> When you're ready, [contact\
    \ our Partnership team here](fallback::#) and we will help you set everything\
    \ up together.\r\n\r\n#### Develop\r\n\r\nRise offers a versatile development\
    \ platform with a comprehensive suite of tools and technologies.\r\n\r\nUse one\
    \ of our development frameworks to build out your app’s functionality by creating\
    \ extensions and integrating with Rise’s business solutions.\r\n\r\n#### Launch\r\
    \n\r\nRise offers several ways to distribute your app.\r\n\r\nIf you're distributing\
    \ your app **publicly**, you should:\r\n- Set up your App Market listing.\r\n\
    - Create promotional assets to showcase your app.\r\n- Submit your app for review\
    \ so the Rise team can ensure everything works as expected.\r\n\r\nIf you're **distributing\
    \ your app privately**, you can:\r\n- Install it directly on your own Rise accounts.\r\
    \n\r\n#### Grow\r\n\r\nOnce your app goes live, enhance your success by:\r\n-\
    \ Responding to user reviews.\r\n- Analyzing performance\r\n\r\n----\r\n\r\n#\
    \ App Installation Flow\r\n\r\nRise applications installation flow follows the\
    \ industry-standard OAuth 2.0 protocol, which provides a secure way for Rise users\
    \ to grant your app permissions.\r\nWhenever a user installs your app, your app’\
    s code must complete an OAuth handshake.\r\n\r\nBefore you start, it's important\
    \ to understand how the installation authentication flow works. The diagram below\
    \ shows the complete flow including all actions that your app, Rise, and the user\
    \ must take.\r\n\r\n![Installation Flow Diagram](https://wixmp-833713b177cebf373f611808.wixmp.com/images/5296fafa62ad85b05287eec1d540f49f.png)\r\
    \n\r\n## Step 1 | Set up OAuth settings for your app\r\nTo start, complete the\
    \ OAuth settings for your app with our Partnership Manager.\r\n\r\n1. Create a\
    \ dedicated a **App URL**. Rise redirects your new users to this URL when they\
    \ install your app.\r\n2. Create a dedicated a **Redirect URL**. When a new user\
    \ agrees to give your app the requested permissions, Rise redirects them to this\
    \ URL. The redirect includes your app’s temporary authorization code.\r\n> Important:\r\
    \n> 1. You must use an **HTTPS** URL.\r\n> 2. Confirm that the **Cross-Origin-Opener-Policy\
    \ (COOP)** of both the app URL and redirect URL is set to `unsafe-none`. This\
    \ enables Rise to close the redirect window as part of the flow. If the COOP of\
    \ either URL is different, set it to `unsafe-none`.\r\n\r\n\r\n## Step 2 | Handle\
    \ installation authentication in your app\r\nWhen a new user installs your app,\
    \ Rise redirects them to your **App URL**. \r\n\r\nMake sure to:\r\n1. Save the\
    \ `token` query parameter value.\r\n2. Skip sign-up or log-in at this point.\r\
    \n3. Immediately forward your user to the **authorization request** step by redirecting\
    \ the user to: `https://platform.rise.ai/installer/install` , make sure to Include\
    \ the following as query parameters:\r\n    - `token`\r\n    - `appId`\r\n   \
    \ - `redirectUrl`\r\n    - (Optional) `state` – to track customers during installation\r\
    \n\r\n4. After user approval on Rise\r\n    - Rise redirects the user to your\
    \ `redirectUrl`.\r\n    - Save the `code` and `instanceId` from the query parameters.\r\
    \n    - Validate the `state` (if provided). Abort if it doesn’t match.\r\n\r\n\
    > ⚠️ The authorization `code` is valid for **10 minutes**.\r\n\r\n\r\n## Step\
    \ 3 | Make API calls\r\nOnce authentication is complete:\r\n\r\n#### 1. Create\
    \ Access Token\r\n\r\nSend a POST request to create an access token:\r\n\r\n```bash\r\
    \ncurl -X POST 'https://platform.rise.ai/oauth2/token' \\\r\n  -H 'Content-Type:\
    \ application/json' \\\r\n  -d '{\r\n    \"grant_type\": \"client_credentials\"\
    ,\r\n    \"client_id\": \"<APP_ID>\",\r\n    \"client_secret\": \"<APP_SECRET_KEY>\"\
    ,\r\n    \"instance_id\": \"<APP_INSTANCE_ID>\"\r\n  }'\r\n```\r\n\r\n#### 2.\
    \ Store the access_token from the response.\r\nThe token is valid for **4 hours**.\r\
    \n\r\n#### 3. Make an API request\r\nYou can now use the access_token in the Authorization\
    \ header to call Rise APIs.\r\nFor example, call Query Wallets.\r\n```bash\r\n\
    curl -X POST \\\r\n   'https://platform.rise.ai/WalletService_/v1/rise/wallets/query'\
    \ \\\r\n    --data-binary '{}' \\\r\n   -H 'Content-Type: application/json' \\\
    \r\n   -H 'Authorization: <ACCESS_TOKEN>'\r\n```\r\n\r\n\r\n> Learn more:  \r\n\
    > [About OAuth](fallback::#)  \r\n> [How to Authenticate Using OAuth](fallback::#)\r\
    \n\r\n\r\n---\r\n\r\n# App Authentication\r\n\r\nRise uses the **OAuth** protocol\
    \ to easily manage third-party application integrations.\r\n\r\nThe OAuth API\
    \ allows your app to manage tokens that are used to authenticate Rise API calls.\
    \  \r\nBy default, OAuth authentication follows the **OAuth Client Credentials**\
    \ protocol.\r\n\r\n## With the OAuth API, You Can:\r\n\r\n- Create access tokens\
    \ for OAuth\r\n- Get information about a specific access token\r\n\r\n## Before\
    \ You Begin\r\n\r\nBefore starting to code, it's important to note:\r\n\r\n> If\
    \ your app uses basic OAuth to authenticate Rise API calls, you **must** create\
    \ access tokens by calling **Create Access Token**.\r\n\r\n\r\n## Terminology\r\
    \n\r\n- **OAuth**: The authorization protocol used by Rise to allow third-party\
    \ apps to securely obtain access to Rise APIs.\r\n- **Access Token**: A string\
    \ used in the `Authorization` header to make authenticated calls to Rise APIs.\
    \ All Rise access tokens are of type `Bearer`.\r\n\r\n> Learn more about [access\
    \ token types](fallback::#).\r\n\r\n## About OAuth\r\n\r\nYour app must authenticate\
    \ Rise API calls using the OAuth protocol.  \r\nOAuth is a **secure and simple\
    \ method** that eliminates the need for redirects and token management.\r\n\r\n\
    ### Rise OAuth Follows: OAuth Client Credentials Protocol\r\n\r\nThis approach\
    \ **does not require an OAuth handshake** for each app installation.  \r\nInstead,\
    \ your app can directly request an access token by calling `Create Access Token`\
    \ with:\r\n\r\n- App ID\r\n- App Secret\r\n- The relevant App Instance ID\r\n\r\
    \n### Why Use OAuth?\r\n\r\n- Prevents corrupted installations\r\n- Simpler to\
    \ implement\r\n- No need to set up redirect servers\r\n- No need to manage refresh\
    \ token databases\r\n\r\n---\r\n\r\n# Authenticate Using OAuth\r\n\r\nThis article\
    \ explains how to authenticate API calls to Rise using OAuth.\r\n\r\n## Step 1\
    \ | Get App Credentials and Instance ID\r\n\r\nTo authenticate, you’ll need the\
    \ following:\r\n\r\n- **App ID**:  \r\n  Your app identifier on the Rise platform\
    \ (You received it as part of the app submission process).\r\n\r\n- **App Secret**:\
    \  \r\n  Also received it as part of the app submission process. **Keep this value\
    \ confidential.**\r\n\r\n- **App Instance ID**:  \r\n  A unique `instanceId` that\
    \ identifies your app on a specific Rise account.\r\n\r\n### How to Obtain `instanceId`\r\
    \n\r\nThere are several ways to retrieve the instance ID depending on your app\
    \ logic:\r\n\r\n- **During Installation Flow**  \r\n  When your app is installed,\
    \ during the OAuth handshake, Rise redirect the user to your URL and passes the\
    \ account `instanceId`.\r\n\r\n- **App Instance Installed Webhook**  \r\n  Triggered\
    \ when your app is installed on a Rise account.\r\n  > Recommended: Save the `instanceId`\
    \ at this point.\r\n\r\n- **Webhook Payloads**  \r\n  Each webhook from Rise includes\
    \ the `instanceId`.\r\n\r\n## Step 2 | Make an Authenticated API Request\r\n\r\
    \nTo authenticate with the REST API:\r\n\r\n### 1. Create Access Token\r\n\r\n\
    Send a POST request to create an access token:\r\n\r\n```bash\r\ncurl -X POST\
    \ 'https://platform.rise.ai/oauth2/token' \\\r\n  -H 'Content-Type: application/json'\
    \ \\\r\n  -d '{\r\n    \"grant_type\": \"client_credentials\",\r\n    \"client_id\"\
    : \"<APP_ID>\",\r\n    \"client_secret\": \"<APP_SECRET_KEY>\",\r\n    \"instance_id\"\
    : \"<APP_INSTANCE_ID>\"\r\n  }'\r\n```\r\n\r\n### 2. Store the access_token from\
    \ the response.\r\nThe token is valid for **4 hours**.\r\n\r\n### 3. Make an API\
    \ request\r\nYou can now use the access_token in the Authorization header to call\
    \ Rise APIs.\r\nFor example, call Query Wallets.\r\n```bash\r\ncurl -X POST \\\
    \r\n   'https://platform.rise.ai/WalletService_/v1/rise/wallets/query' \\\r\n\
    \    --data-binary '{}' \\\r\n   -H 'Content-Type: application/json' \\\r\n  \
    \ -H 'Authorization: <ACCESS_TOKEN>'\r\n```"
  name: IntegrateyourapplicationwithRise
- description: "# About App Instances\r\n\r\nWhen your app is installed across multiple\
    \ Rise accounts, you need a way to identify which account is making a request.\
    \ This is where **app instances** come in.\r\n\r\nAn **app instance** represents\
    \ a unique installation of your app on a specific Rise account.\r\nEach instance\
    \ is identified by a unique `instanceId`.\r\n\r\n> 💡 **Tip**:  \r\n> We suggest\
    \ you to store a mapping between the Rise insacnctId and your own user identification.\r\
    \n\r\n\r\n## Handle Account-Level Logic\r\n\r\nIdentifying the app instance allows\
    \ you to manage account-specific logic.  \r\nFor example, you can:\r\n\r\n- Store\
    \ account-specific data (settings, user-generated content, etc.)\r\n- Track usage\
    \ per account\r\n\r\nIn some cases, the `instanceId` alone is enough to query\
    \ your database and run logic.  \r\nIn others, you may need to fetch additional\
    \ instance data via Rise APIs.\r\n\r\n## Identify the App Instance\r\n\r\nThe\
    \ `instanceId` uniquely identifies your app on a specific Rise account.\r\nYou\
    \ can retrieve it from:\r\n\r\n- **Get Token Info** method (REST)\r\n- **Webhook\
    \ payloads**"
  name: AboutAppInstances
- description: "# Rise Platform Extensions Overview\n\nRise Platform Extensions enable\
    \ app developers to seamlessly integrate their services into the Rise ecosystem,\
    \ providing merchants with powerful tools to automate operations, enhance the\
    \ dashboard experience, and streamline business processes.\n\nWith Platform Extensions,\
    \ developers can:\n\n* **Automate business logic using customizable Workflows\
    \ Extensions:** including triggers, actions, conditions, and delays.  \n* **Extend\
    \ the Rise Dashboard through Dashboard Extensions (in Beta)**:  offering tailored\
    \ back-office interfaces and configuration tools directly within the merchant’\
    s workspace.\n\nWhether you're issuing store credit after a return, sending follow-up\
    \ incentives based on order value, or adding a settings page for merchants to\
    \ manage your app—Rise Platform Extensions give you the building blocks to design\
    \ deeply integrated, merchant-friendly solutions.\n\n# What's Covered in This\
    \ Guide\n\nThis documentation covers:\n\n* **Rise Workflows**:    \n  How to create\
    \ and extend business automations with custom triggers, actions, delays, conditions,\
    \ and pre-installed workflows.  \n    \n* **Workflow Architecture and Data Flow:**\
    \    \n  Understand how triggers, actions, and schemas work together behind the\
    \ scenes.\n\nBy leveraging these extensions, your app becomes a first-class citizen\
    \ in the Rise environment—helping merchants do more, with less manual effort,\
    \ and creating better experiences for their customers.\n\n# About Rise Workflows\n\
    \n**Rise Workflows** is a powerful tool that allows Rise merchants and partners\
    \ to automate business processes.    \nAs an app developer, you can provide users\
    \ with both **workflows** and the **building blocks** they need to create them.\n\
    \n## Why Are Workflows Necessary?\n\nAs business operations grow, it's difficult\
    \ for users to manage every task manually.    \nRise Workflows remove the burden\
    \ of handling these processes from business owners, by automating them.  \nThis\
    \ leaves merchants free to focus on growing their business, instead of dealing\
    \ with the details of various business operations.\n\n**Example: Automatically\
    \ Issue Store Credit After a Return is Approved**\n\nLet’s say your app handles\
    \ product returns for merchants. Using **Rise Workflows**, you can help the merchant\
    \ automate what happens next - such as issuing store credit once a return is approved.\n\
    \n**Trigger**  \n- **Return Approved** – Your app sends a webhook or event when\
    \ a return is approved.\n\n**Actions**  \n- **Issue Store Credit** – Use Rise’\
    s \\`IssueStoreCredit\\` action to grant store credit to the customer automatically.\
    \  \n- **Send Confirmation Email** – Optionally trigger an email to notify the\
    \ customer that their store credit is available.\n\n**Workflow Logic**  \nWhen:\
    \ Return is approved by the merchant    \n→ Then: Issue store credit to the customer\
    \    \n→ Then: Send confirmation email\n\n**Why It’s Valuable**  \nThis workflow\
    \ reduces manual effort for the merchant and ensures customers receive store credit\
    \ faster, \nimproving the post-purchase experience and increasing the chances\
    \ of repeat purchases.\n\n**Rise Workflows automate these operations**, freeing\
    \ merchants to focus on growing their business.\n\n## How Do Workflows Work?\n\
    \nEvery workflow has:\n\n* **A trigger**: An event reported to Rise by an app.\
    \  \n* **At least one action**: A business operation that follows the trigger.\n\
    \n**Trigger Examples**\n\n* A customer completes a purchase on Shopify.  \n* A\
    \ customer returns an item.  \n* A visitor registers as a member.  \n* A customer\
    \ refers a product to a friend.  \n* A customer visits a physical store.\n\n**Action\
    \ Examples**\n\n* Issue store credit to a customer’s wallet.  \n* Send a ‘Store\
    \ Credit Issued’ email.  \n* Send gift card info to a third-party CRM.\n\n**Delays\
    \ and Conditions**\n\n* **Delays** pause workflows before the next step.  \n*\
    \ **Conditions** add logic to control workflow flow.\n\nThese enable users to\
    \ build **complex automations** beyond simple trigger-action chains.\n\n## Who\
    \ Can Use Rise Workflows?\n\n* **Rise Users** \\- Can build automations using\
    \ the Workflows Builder.  \n* **Rise App Developers** \\- Can use workflow extensions\
    \ to: Create triggers, actions and Provide pre-installed workflows\n\n## The Workflows\
    \ Builder\n\nRise offers users an advanced Workflow builder tool, which they can\
    \ use in any way that fits their business needs.\n\n* Every Rise account includes\
    \ out-of-the-box default triggers and actions.  \n* When a user installs a third-party\
    \ app, it can add new triggers and actions.  \n* Users create workflows with these\
    \ building blocks in the **Workflows Builder**, located in the account dashboard.\n\
    \n![Workflow builder](https://wixmp-833713b177cebf373f611808.wixmp.com/images/4e990b33a1d64bac6ae925acc838ffaa.png)\n\
    \n**Pre-Installed Workflows**  \nRise offers users pre-defined workflow templates\
    \ they can activate immediately.\n\n* Your app can also offer ‘pre build’ workflows\
    \ that are added automatically when users install your app.  \n* Users can’t change\
    \ the trigger or actions, but:  \n  *   Can configure some action settings  \n\
    \  *   May activate or deactivate the workflow\n\n# Workflows Extensions for Developers\n\
    \nAs a developer, you can extend your app with:\n\n1. **Triggers** - Expose your\
    \ events as triggers.  \n2. **Actions** - Expose your APIs as actions.  \n3. **Pre-Installed\
    \ Workflows** - Preconfigure workflows using your triggers/actions, delays, and\
    \ conditions.\n\nUsers who install your app will get access to:\n\n* The full\
    \ workflows you define  \n* The ability to enable/disable them  \n* The option\
    \ to configure action settings  \n* Limited ability to edit delays and conditions\n\
    \n## Workflows Architecture and Data Flow\n\nAs mentioned, Workflows in Rise are\
    \ built using two basic components: triggers and actions\n\n**Triggers**\n\nA\
    \ **trigger** is an event exposed and reported to Rise by an app. For examples:\n\
    \n* A visitor lands on a specific page.  \n* A return process is completed.\n\n\
    Triggers include a **payload schema**, defined by the app developer.    \nThis\
    \ schema outlines the data that is passed to Rise when the event occurs.\n\n**Actions**\n\
    \nAn **action** is a single business operation executed in response to a trigger.\
    \ For examples:\n\n* Sending a chat message.  \n* Updating a customer record in\
    \ a database.\n\nActions require an **input schema**, also defined by the developer.\
    \    \nThis schema dictates the data required to execute the action.\n\n> Actions\
    \ may use only a portion of the trigger payload.\n\n**Basic Workflow Flow**\n\n\
    1. App reports an event (trigger).  \n2. Rise receives the event payload.  \n\
    3. Rise executes an action using the trigger data as input.\n\n**Example**:\n\n\
    * Trigger provides `form name`, `submitter name`, and `submitter email`.  \n*\
    \ Action only uses `submitter email` to send a message.\n\n**Automations with\
    \ Multiple Actions**\n\nWorkflows can include **multiple actions in series**.\n\
    \n* Each action uses the original trigger payload as input.  \n* Actions can also\
    \ have **output schemas**.  \n* Output from one action is added to the payload\
    \ and passed to the next.\n\nThis allows data to **accumulate** through the workflow.\n\
    \n**Example**:\n\n* Action A outputs a `gift card code`.  \n* Action B uses that\
    \ code as part of its logic.\n\n**Workflows with Delays**\n\nA **delay** pauses\
    \ the workflow before the next step.  \nBy default, a workflow executes immediately\
    \ when it’s triggered.  \nHowever, users can configure a workflow to wait before\
    \ the next step by adding a delay.  \nA delay is a period of time that is intentionally\
    \ inserted between two steps in the automation flow.\n\n**Example: Issue Store\
    \ Credit in Stages After an Order Is Completed**\n\nA merchant wants to reward\
    \ customers gradually after they complete a purchase—offering store credit in\
    \ stages to encourage them to return and shop again.\n\nThey set up a workflow\
    \ with the trigger **\"Order completed\"**, and add multiple delayed steps to\
    \ issue store credit over time.\n\n**Workflow Logic**\n\nWhen: Order is completed\
    \    \n→ Then: Immediately issue $5 store credit    \n→ Wait: 7 days → Then: Issue\
    \ additional $5 store credit    \n→ Wait: 14 more days → Then: Issue another $5\
    \ store credit    \n→ Wait: 30 more days → Then: Issue final $10 store credit\n\
    \n**Why It’s Valuable**\n\nThis staggered reward approach keeps customers engaged\
    \ long after their initial purchase, encouraging repeat visits and increasing\
    \ long-term retention—all while fully automated through Rise Workflows.\n\nDelays\
    \ do not change the data flow—only **when** data is passed to the action.\n\n\
    > To make sure the action runs with the latest data, you can implement the `Refresh\
    \ Payload` method to update the latest data.\n\n**Workflows with Conditions**\n\
    \n**Conditions** add branching logic to workflows.\n\n- The **if path** runs if\
    \ a condition is met.  \n- The **else path** runs otherwise.\n\n**Example: Issue\
    \ Different Store Credit Based on Order Value**  \nLet’s say a merchant wants\
    \ to reward customers differently depending on how much they spent.  \nThey set\
    \ up a workflow triggered by \"Order completed\", then use a condition to check\
    \ the total order value.\n\n**Workflow Logic**  \nWhen: Order is completed   \
    \ \n→ If: Order value is greater than $100 → Then: Issue $20 store credit    \
    \ \n→ Else: → Then: Issue $5 store credit\n\n**Why It’s Valuable**  \nThis lets\
    \ merchants run tiered incentives automatically encouraging higher spend while\
    \ still rewarding smaller purchases. It also keeps workflows flexible, personalized,\
    \ and data-driven.\n\nEach branch must have its own **input schema**, even if\
    \ it might not execute.  \n> Ensure that each schema matches the expected structure\
    \ of the data.\n\n**Summary**\n\n| Feature     | Description                 \
    \                                                |  \n|-------------|-----------------------------------------------------------------------------|\
    \  \n| Trigger     | Event that starts a workflow. Provides data via payload schema.\
    \             |  \n| Action      | Operation performed. Uses input schema to define\
    \ required data.             |  \n| Delay       | Pauses workflow for a specified\
    \ time.                                       |  \n| Condition   | Adds branching\
    \ logic to determine next steps in the workflow.               |  \n| Data Flow\
    \   | Data is passed from trigger → action(s), and accumulates across the steps.\
    \ |\n\n## Add a Trigger to Your App\n\nAs mentioned, your app can expose events\
    \ through triggers.  \nYou can define multiple triggers for your app to expose.\n\
    \nTo make an event a trigger, you’ll need to work with your **Rise contact**,\
    \ who will configure the trigger for you during the onboarding process.\n\nAs\
    \ a developer, your role is to provide the necessary information for the trigger\
    \ setup. Once completed, your trigger becomes available to merchants using the\
    \ **Workflows Builder** in their Rise account.\n\n![Workflow Builder Custom App](https://wixmp-833713b177cebf373f611808.wixmp.com/images/3331fcf420b04ba6a237bb432b717412.png)\n\
    \n**Before You Begin**\n\n* Make sure you understand how Rise triggers work. \
    \ \n* Prepare to share all required trigger details with your Rise contact as\
    \ part of the onboarding flow.\n\n**What You Need to Provide**\n\nYour **Rise\
    \ contact** will ask for the following details to set up your trigger:\n\n**1.\
    \ Trigger Name**\n\nThis is the user-facing name merchants will see when selecting\
    \ a trigger in the Workflows Builder.\n\n**Best Practices:**\n\n* Use passive\
    \ voice (e.g., “Order completed”).  \n* Keep it short, specific, and singular.\
    \  \n* Avoid ambiguity (e.g., “Restaurant reservation made” instead of “Reservation\
    \ made”).\n\n**2. Trigger Key**\n\nA unique key used by your backend to report\
    \ or cancel events (e.g., `myapp-order-completed`).\n\n**Trigger key requirements:**\n\
    \n* Start with a letter or number.  \n* Use only lowercase letters, numbers, hyphens,\
    \ and underscores.  \n* Be unique within your app.\n\n**3. Sample Payload**\n\n\
    You’ll need to share a **sample JSON payload** for the event that should act as\
    \ a trigger.\n\nExample:\n\n```json\n{\n  \"orderId\": \"1234567890\",\n  \"customerId\"\
    : \"987654321\",\n  \"totalAmount\": 59.99,\n  \"timestamp\": \"2025-04-14T12:34:56Z\"\
    \n}\n```\n\nBased on your sample, our team will generate a JSON schema and collaborate\
    \ with you to refine it.\n\n**Schema configuration includes:**\n\n* Display names\
    \ for each field (what the merchant sees)  \n* Descriptions to clarify field usage\
    \  \n* Required fields  \n* Example values for UI previews\n\nIf needed, we’ll\
    \ walk you through any unclear fields or data relationships.\n\n**Optional Enhancements**\n\
    \nDepending on the functionality you want to offer, we may recommend the following:\n\
    \n**Filterable Fields**\n\nTo give merchants more control, you can make specific\
    \ payload fields filterable (e.g., totalAmount > 50).  \nShare which fields you\
    \ want to make filterable and which logic operators should be supported (e.g.,\
    \ equals, greater  \nthan, contains, etc.).\n\n**Testing the Trigger**\n\nOnce\
    \ we’ve configured the trigger, you’ll:\n\n* Install your app on a test Rise account.\
    \  \n* Create a test workflow using the trigger.  \n* Use your application access\
    \ token to call the Report Event API from your server.\n\nSample Report Event\
    \ call:\n\n```json\nPOST /v1/triggers/events/report\nAuthorization: Bearer <OAuth\
    \ token>\nContent-Type: application/json\n\n{\n  \"triggerKey\": \"myapp-order-completed\"\
    ,\n    \"payload\": {\n        \"orderId\": \"1234567890\",\n        \"customerId\"\
    : \"987654321\",\n        \"totalAmount\": 59.99,\n        \"timestamp\": \"2025-04-14T12:34:56Z\"\
    \n    }\n}\n```\n\nIf configured correctly, the workflow will execute and your\
    \ test action (e.g., send email) will run successfully.\n\n**Going Live**  \n\
    Once testing is successful:\n\n* We’ll activate the trigger for your app  \n*\
    \ It will become available to all merchants who install your app on their Rise\
    \ account\n\nIf you'd like to offer pre-installed workflows using this trigger,\
    \ let us know — we can help bundle those as well.\n\n**Need Help?**  \nYour Rise\
    \ contact is here to guide you through the process and help troubleshoot at every\
    \ step."
  name: AboutRiseAppExtensions
- description: "# API Query Language\r\n\r\nThe query language described in this article\
    \ is implemented partially or in full by Rise APIs supporting query capabilities.\r\
    \n\r\nYou may see some similarities between the Rise API Query Language and MongoQL.\
    \ This is because the style of the Rise API Query Language is heavily influenced\
    \ by MongoQL.\r\n\r\n## Syntax\r\n\r\nA query object consists of 5 optional parts:\r\
    \n\r\n* `filter`: Which results to return.\r\n* `sort`: In what order.\r\n* `paging`:\
    \ Return only some of the matched entities.\r\n* `fields`: Field projection. Returns\
    \ only part of each entity.\r\n* `fieldsets`: Predefined, named sets of fields\
    \ with common use.  This is a shorthand provided by individual APIs.\r\n\r\nEach\
    \ query is always a single JSON object. An empty JSON object returns all records\
    \ according to the API's default paging and sort order.\r\n\r\nThe query object\
    \ can define a key for each of the above parts:\r\n\r\n```json\r\n{\r\n  \"filter\"\
    : { ... },\r\n  \"sort\": [ ... ],\r\n  \"paging\": { ... },\r\n  \"fields\":\
    \ [ ... ],\r\n  \"fieldsets\": [ ... ]\r\n}\r\n```\r\n\r\n## The filter section\r\
    \n\r\nThe filter section is a single json object `{}` with the following rules:\r\
    \n\r\n### Equality\r\n\r\nThe format `{ \"<field>\": <value> }` specifies an equality\
    \ condition.\r\n\r\nFor example, `{ \"status\": \"DONE\" }` matches all entities\
    \ where `status` is `\"DONE\"`.\r\n\r\n### Operators\r\n\r\nOperators use the\
    \ format `{ \"<field>\": { \"$<operator>\": <value> } }`.\r\n\r\nFor example,\
    \ `{ \"status\": { \"$in\": [\"PENDING\", \"DONE\"] } }` matches all entities\
    \ where status is `\"PENDING\"` or `\"DONE\"`.\r\n\r\nThe operators specified\
    \ below are supported.\r\n\r\n#### Comparison operators\r\n\r\n* `$eq`: Matches\
    \ values that are equal to a specified value.\r\n* `$ne`: Matches all values that\
    \ are not equal to a specified value.\r\n* `$gt`: Matches values that are greater\
    \ than a specified value.\r\n* `$gte`: Matches values that are greater than or\
    \ equal to a specified value.\r\n* `$lt`: Matches values that are less than a\
    \ specified value.\r\n* `$lte`: Matches values that are less than or equal to\
    \ a specified value.\r\n* `$in`: Matches any of the values specified in an array.\r\
    \n* `$nin`: Matches none of the values specified in an array.\r\n* `$startsWith`:\
    \ Matches strings that start with a specified value. Not case-sensitive.\r\n*\
    \ `$isEmpty`: Matches strings or arrays that are empty or not empty, depending\
    \ on whether the specified operand is `true` or `false`.\r\n\r\n#### Logical operators\r\
    \n\r\n* `$and`: Joins query clauses with a logical *AND* and returns all items\
    \ that match the conditions of both clauses.\r\n* `$or`: Joins query clauses with\
    \ a logical *OR* and returns all items that match the conditions of either clause.\r\
    \n* `$not`: Inverts the effect of a query expression and returns items that don't\
    \ match the query expression.\r\n\r\n#### Element operators\r\n\r\n* `$exists`:\
    \ Matches items where the specified field exists and has a non-null value.\r\n\
    \r\n#### Array operators\r\n\r\n* `$hasAll`: Matches arrays that contain all elements\
    \ specified in the query.\r\n* `$hasSome`: Matches arrays that contain at least\
    \ one element specified in the query.\r\n\r\n### Sample queries\r\n\r\nIn the\
    \ following example, the compound query returns all entities where the status\
    \ equals `\"A\"` and either `qty` is less than `30` or `item` starts with the\
    \ character `p`:\r\n\r\n```json\r\n{\r\n  \"status\": \"A\",\r\n  \"$or\": [\r\
    \n    {\r\n      \"qty\": { \"$lt\": 30 }\r\n    },\r\n    {\r\n      \"item\"\
    : { \"$startsWith\": \"p\" }\r\n    }\r\n  ]\r\n}\r\n```\r\n\r\nThe following\
    \ example queries entities where the field `tags` value is an array with exactly\
    \ two elements, `\"red\"` and `\"blank\"`, in the specified order:\r\n\r\n```json\r\
    \n{\r\n  \"tags\": [\"red\", \"blank\"]\r\n}\r\n```\r\n\r\nThe following example\
    \ queries for all entities where `tags` is an array that contains the string `\"\
    red\"` as one of its elements, or that `tags` is the string `\"red\"`:\r\n\r\n\
    ```json\r\n{\r\n  \"tags\": \"red\"\r\n}\r\n```\r\n\r\nThe following query matches\
    \ entities that do not contain the `item` field, or where the `item` field has\
    \ no value:\r\n\r\n```json\r\n{\r\n  \"item\": { \"$exists\": false }\r\n}\r\n\
    ```\r\n\r\n## The sort section\r\n\r\nThe `sort` section is an array of field\
    \ names and sort order.\r\n\r\nIf `order` is not specified for a field, the field\
    \ is sorted in ascending order.\r\n\r\nSorting is applied to the first `sort`\
    \ item, then the second, and so on:\r\n\r\n```json\r\n{\r\n  \"sort\": [\r\n \
    \   {\r\n      \"fieldName\": \"sortField1\"\r\n    },\r\n    {\r\n      \"fieldName\"\
    : \"sortField2\",\r\n      \"order\": \"DESC\"\r\n    }\r\n  ]\r\n}\r\n```\r\n\
    \r\n## The paging section\r\n\r\nThe `paging` section describes the size of the\
    \ data set to return per response and how many records to skip.  \r\n Each API\
    \ can support offset paging, cursor paging, or both.  \r\n See your specific API\
    \ for information on supported paging options.\r\n\r\n### Offset paging\r\n\r\n\
    With offset paging, you provide a `limit` and `offset` with each request.\r\n\r\
    \nTo retrieve additional pages, submit subsequent requests with an increased `offset`\
    \ equal to the previous page's `limit` plus `offset`.\r\n\r\nFor example, this\
    \ offset request returns records 41 through 60:\r\n\r\n```json\r\n{\r\n  \"paging\"\
    : {\r\n    \"limit\": 20,\r\n    \"offset\": 40\r\n  }\r\n}\r\n```\r\n\r\n###\
    \ Cursor paging\r\n\r\nWith cursor paging, each request returns a `cursors` object\
    \ that contains cursor strings that point to the next page, previous page, or\
    \ both.\r\n\r\nTo retrieve either page, use the returned `next` or `prev` cursor\
    \ in the next request's `cursor` parameter.\r\n\r\nTake this response object,\
    \ for example:\r\n\r\n```json\r\n{\r\n  \"pagingMetadata\": {\r\n    \"count\"\
    : 10,\r\n    \"offset\": 0,\r\n    \"cursors\": {\r\n      \"next\": \"eyJmaWx0ZXIiOnsiJGFuZCI6W3sibGFuZ3VhZ2UiOnsiJGluIjpbImVuIiwiaGUiXX19LHsic3RhdHVzIjoicHVibGlzaGVkIn1dfSwidmFsdWUiOnsiaXNQaW5uZWQiOmZhbHNlLCJmaXJzdFB1Ymxpc2hlZERhdGUiOiIyMDIyLTA2LTAyVDA2OjQ2OjAyLjgwMloifSwib3JkZXIiOnsiaXNQaW5uZWQiOi0xLCJmaXJzdFB1Ymxpc2hlZERhdGUiOi0xLCJpZCI6LTF9fQ==\"\
    \r\n    }\r\n  }\r\n}\r\n```\r\n\r\nYou can use the returned `next` cursor to\
    \ retrieve the next page of results by forming your request like this:\r\n\r\n\
    ```json\r\n{\r\n  \"query\": {\r\n    \"cursorPaging\": {\r\n      \"cursor\"\
    : \"eyJmaWx0ZXIiOnsiJGFuZCI6W3sibGFuZ3VhZ2UiOnsiJGluIjpbImVuIiwiaGUiXX19LHsic3RhdHVzIjoicHVibGlzaGVkIn1dfSwidmFsdWUiOnsiaXNQaW5uZWQiOmZhbHNlLCJmaXJzdFB1Ymxpc2hlZERhdGUiOiIyMDIyLTA2LTAyVDA2OjQ2OjAyLjgwM1oifSwib3JkZXIiOnsiaXNQaW5uZWQiOi0xLCJmaXJzdFB1Ymxpc2hlZERhdGUiOi0xLCJpZCI6LTF9fQ\"\
    \r\n    }\r\n  }\r\n}\r\n```\r\n\r\n## The fields section\r\n\r\nThe `fields`\
    \ section is an array of field paths to return.\r\n\r\nIf a field path points\
    \ to an object, the entire sub-object is returned.\r\n\r\nSubsets of sub-objects\
    \ can be returned by using dot notation.\r\n\r\nIn this example, the returned\
    \ entities contain `firstName` from the `name` sub-object and the entire `address`\
    \ object:\r\n\r\n```json\r\n{\r\n  \"fields\": [\"name.firstName\", \"address\"\
    ]\r\n}\r\n```\r\n\r\nIf both `fields` and `fieldsets` sections exist, the union\
    \ of both is returned.\r\n\r\n## The fieldsets section\r\n\r\nAn API may provide\
    \ named projections to save clients from specifying individual fields in common\
    \ cases.\r\n\r\nFor example, the Contacts API implements a fieldset named `BASIC`\
    \ that contains only `id`, `revision`, `info.name.first`, `info.name.last`, `primaryInfo.email`,\
    \ and `primaryInfo.phone`.\r\n\r\nTo use a fieldset, specify its name in the `fieldsets`\
    \ array.\r\n\r\nFor example:\r\n\r\n```json\r\n{\r\n  \"fieldsets\": [\"BASIC\"\
    ]\r\n}\r\n```\r\n\r\nIf both `fieldsets` and `fields` sections exist, the union\
    \ of both is returned."
  name: AboutAPIQueryLanguage
paths:
  /v1/rise/recipients:
    post:
      deprecated: false
      description: |-
        Creates a Recipient.
        Note: This method is already called by GiftCardOrderService when an order is fulfilled.
      operationId: CreateRecipient
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recipient_GiftCardRecipientService__v1_rise_recipients_post_CreateRecipient_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    recipient:
                      id: <string>
                      revision: <string>
                      createdDate: <string>
                      updatedDate: <string>
                      name: <string>
                      email: <string>
                      giftCardId: <string>
                      giftingDetails:
                        sendDate: <string>
                        greeting: <string>
                        imageUrl: <string>
                        senderName: <string>
                        senderEmail: <string>
              schema:
                $ref: "#/components/schemas/CreateRecipientResponse_1"
          description: OK - The request was successful
      tags:
      - Recipient
      x-wix-docs:
        triggeredEvents:
        - title: Recipient Created
          description: ""
          permissions: []
          exposure: PUBLIC
          maturity: BETA
          slug: created
          eventTopic: domain_events_wix.rise.giftcard.v1.recipient
          serviceName: wix.rise.giftcard.recipient.v1.GiftCardRecipientService
          domainEvent: CREATED
          externalPermissionScopes: []
          eventType: wix.rise.giftcard.v1.recipient_created
          permissionsInfo: []
          operationId: wix.rise.giftcard.recipient.v1.GiftCardRecipientService.CreateRecipient
          methodName: CreateRecipient
          sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
        serviceName: wix.rise.giftcard.recipient.v1.GiftCardRecipientService
        errors: []
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.GIFT_CARD_RECIPIENT_CREATE
        protoArtifactId: com.wixpress.rise:giftcard-recipient-service
        serviceArtifactId: com.wixpress.rise.giftcard-recipient-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.giftcard.recipient.v1.CreateRecipientRequest
          responseMessage: wix.rise.giftcard.recipient.v1.CreateRecipientResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: recipient
            - parent:
                name: options
                fields:
                - path: sideEffects
          packageName: '@wix/dev'
          namespace: wixRiseGiftcardV1Recipient
          methodExamples:
          - title: createRecipient
            description: ""
            content: |-
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';

              async function createRecipient(recipient, options) {
                const response = await wixRiseGiftcardV1Recipient.createRecipient(recipient, options);
              };
            order: 1
          - title: createRecipient (with elevated permissions)
            description: ""
            content: |-
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';
              import { auth } from '@wix/essentials';

              async function myCreateRecipientMethod(recipient, options) {
                const elevatedCreateRecipient = auth.elevate(wixRiseGiftcardV1Recipient.createRecipient);
                const response = await elevatedCreateRecipient(recipient, options);
              }
            order: 4
          - title: createRecipient (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { wixRiseGiftcardV1Recipient },
                // Include the auth strategy and host as relevant
              });


              async function createRecipient(recipient, options) {
                const response = await myWixClient.wixRiseGiftcardV1Recipient.createRecipient(recipient, options);
              };
            order: 2
        commonMethodData:
          name: create
          itemField: recipient
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/recipients/{recipientId}:
    delete:
      deprecated: false
      description: Deletes a Recipient by ID.
      operationId: DeleteRecipient
      parameters:
      - description: Id of the Recipient to delete.
        explode: false
        in: path
        name: recipientId
        required: true
        schema:
          type: string
        style: simple
        x-wix-docs:
          exposure: PUBLIC
          maturity: GA
      responses:
        "200":
          description: Returns an empty object.
      tags:
      - Recipient
      x-wix-docs:
        triggeredEvents:
        - title: Recipient Deleted
          description: ""
          permissions: []
          exposure: PUBLIC
          maturity: BETA
          slug: deleted
          eventTopic: domain_events_wix.rise.giftcard.v1.recipient
          serviceName: wix.rise.giftcard.recipient.v1.GiftCardRecipientService
          domainEvent: DELETED
          externalPermissionScopes: []
          eventType: wix.rise.giftcard.v1.recipient_deleted
          permissionsInfo: []
          operationId: wix.rise.giftcard.recipient.v1.GiftCardRecipientService.DeleteRecipient
          methodName: DeleteRecipient
          sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
        serviceName: wix.rise.giftcard.recipient.v1.GiftCardRecipientService
        errors: []
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.GIFT_CARD_RECIPIENT_DELETE
        protoArtifactId: com.wixpress.rise:giftcard-recipient-service
        serviceArtifactId: com.wixpress.rise.giftcard-recipient-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.giftcard.recipient.v1.DeleteRecipientRequest
          responseMessage: wix.rise.giftcard.recipient.v1.DeleteRecipientResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: recipientId
          packageName: '@wix/dev'
          namespace: wixRiseGiftcardV1Recipient
          methodExamples:
          - title: deleteRecipient
            description: ""
            content: |-
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';

              async function deleteRecipient(recipientId) {
                const response = await wixRiseGiftcardV1Recipient.deleteRecipient(recipientId);
              };
            order: 1
          - title: deleteRecipient (with elevated permissions)
            description: ""
            content: |-
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';
              import { auth } from '@wix/essentials';

              async function myDeleteRecipientMethod(recipientId) {
                const elevatedDeleteRecipient = auth.elevate(wixRiseGiftcardV1Recipient.deleteRecipient);
                const response = await elevatedDeleteRecipient(recipientId);
              }
            order: 4
          - title: deleteRecipient (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { wixRiseGiftcardV1Recipient },
                // Include the auth strategy and host as relevant
              });


              async function deleteRecipient(recipientId) {
                const response = await myWixClient.wixRiseGiftcardV1Recipient.deleteRecipient(recipientId);
              };
            order: 2
        commonMethodData:
          name: delete
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
    get:
      deprecated: false
      description: Retrieves a Recipient by ID.
      operationId: GetRecipient
      parameters:
      - description: ID of the Recipient to retrieve.
        explode: false
        in: path
        name: recipientId
        required: true
        schema:
          type: string
        style: simple
        x-wix-docs:
          exposure: PUBLIC
          maturity: GA
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    recipient:
                      id: <string>
                      revision: <string>
                      createdDate: <string>
                      updatedDate: <string>
                      name: <string>
                      email: <string>
                      giftCardId: <string>
                      giftingDetails:
                        sendDate: <string>
                        greeting: <string>
                        imageUrl: <string>
                        senderName: <string>
                        senderEmail: <string>
              schema:
                $ref: "#/components/schemas/GetRecipientResponse"
          description: OK - The request was successful
      tags:
      - Recipient
      x-wix-docs:
        triggeredEvents: []
        serviceName: wix.rise.giftcard.recipient.v1.GiftCardRecipientService
        errors: []
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.GIFT_CARD_RECIPIENT_READ
        protoArtifactId: com.wixpress.rise:giftcard-recipient-service
        serviceArtifactId: com.wixpress.rise.giftcard-recipient-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.giftcard.recipient.v1.GetRecipientRequest
          responseMessage: wix.rise.giftcard.recipient.v1.GetRecipientResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: recipientId
          packageName: '@wix/dev'
          namespace: wixRiseGiftcardV1Recipient
          methodExamples:
          - title: getRecipient
            description: ""
            content: |-
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';

              async function getRecipient(recipientId) {
                const response = await wixRiseGiftcardV1Recipient.getRecipient(recipientId);
              };
            order: 1
          - title: getRecipient (with elevated permissions)
            description: ""
            content: |-
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';
              import { auth } from '@wix/essentials';

              async function myGetRecipientMethod(recipientId) {
                const elevatedGetRecipient = auth.elevate(wixRiseGiftcardV1Recipient.getRecipient);
                const response = await elevatedGetRecipient(recipientId);
              }
            order: 4
          - title: getRecipient (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { wixRiseGiftcardV1Recipient },
                // Include the auth strategy and host as relevant
              });


              async function getRecipient(recipientId) {
                const response = await myWixClient.wixRiseGiftcardV1Recipient.getRecipient(recipientId);
              };
            order: 2
        commonMethodData:
          name: get
          itemField: recipient
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/recipients/query:
    post:
      deprecated: false
      description: |-
        Retrieves a list of Recipients, given the provided paging, filtering, and sorting.
        To learn how to query Recipients, see [API Query Language](https://platform.rise.ai/docs/#tag/About-API-Query-Language).
      operationId: QueryRecipients
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recipient_GiftCardRecipientService__v1_rise_recipients_query_post_QueryRecipients_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    recipients: "[]"
                    pagingMetadata:
                      count: <number>
                      cursors:
                        next: <string>
                        prev: <string>
                      hasNext: <boolean>
              schema:
                $ref: "#/components/schemas/QueryRecipientsResponse_1"
          description: OK - The request was successful
      tags:
      - Recipient
      x-wix-docs:
        triggeredEvents: []
        serviceName: wix.rise.giftcard.recipient.v1.GiftCardRecipientService
        errors: []
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.GIFT_CARD_RECIPIENT_READ
        protoArtifactId: com.wixpress.rise:giftcard-recipient-service
        serviceArtifactId: com.wixpress.rise.giftcard-recipient-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.giftcard.recipient.v1.QueryRecipientsRequest
          responseMessage: wix.rise.giftcard.recipient.v1.QueryRecipientsResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - parent:
                name: options
                fields:
                - path: query
          packageName: '@wix/dev'
          namespace: wixRiseGiftcardV1Recipient
          methodExamples:
          - title: queryRecipients
            description: ""
            content: |-
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';

              async function queryRecipients() {
                const { items } = await wixRiseGiftcardV1Recipient.queryRecipients().find();
              };
            order: 1
          - title: queryRecipients (with elevated permissions)
            description: ""
            content: |-
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';
              import { auth } from '@wix/essentials';

              async function myQueryRecipientsMethod(options) {
                const elevatedQueryRecipients = auth.elevate(wixRiseGiftcardV1Recipient.queryRecipients);
                const response = await elevatedQueryRecipients(options);
              }
            order: 4
          - title: queryRecipients (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { wixRiseGiftcardV1Recipient } from '@wix/dev';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { wixRiseGiftcardV1Recipient },
                // Include the auth strategy and host as relevant
              });


              async function queryRecipients() {
                const { items } = await myWixClient.wixRiseGiftcardV1Recipient.queryRecipients().find();
              };
            order: 2
        commonMethodData:
          name: query
          itemField: recipient
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/gift-cards/transactions/query:
    post:
      deprecated: false
      description: "Query Transactions using [API Query Language](https://platform.rise.ai/docs/#tag/About-API-Query-Language)."
      operationId: QueryTransactions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transaction_TransactionQueryService__v1_rise_gift-cards_transactions_query_post_QueryTransactions_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    transactions: "[]"
                    pagingMetadata:
                      count: <number>
                      offset: <number>
                      total: <number>
                      tooManyToCount: <boolean>
                      cursors:
                        next: <string>
                        prev: <string>
              schema:
                $ref: "#/components/schemas/QueryTransactionsResponse_1"
          description: OK - The request was successful
      tags:
      - Transaction
      x-wix-docs:
        triggeredEvents: []
        serviceName: wix.rise.v1.TransactionQueryService
        errors: []
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.GIFT_CARD_READ
        protoArtifactId: com.wixpress.rise:rise-gift-card-service
        serviceArtifactId: com.wixpress.rise.rise-gift-card-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.v1.QueryTransactionsRequest
          responseMessage: wix.rise.v1.QueryTransactionsResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: query
          packageName: '@wix/dev'
          namespace: wixRiseV1Transaction
          methodExamples:
          - title: queryTransactions
            description: ""
            content: |-
              import { wixRiseV1Transaction } from '@wix/dev';

              async function queryTransactions() {
                const { items } = await wixRiseV1Transaction.queryTransactions().find();
              };
            order: 1
          - title: queryTransactions (with elevated permissions)
            description: ""
            content: |-
              import { wixRiseV1Transaction } from '@wix/dev';
              import { auth } from '@wix/essentials';

              async function myQueryTransactionsMethod(query) {
                const elevatedQueryTransactions = auth.elevate(wixRiseV1Transaction.queryTransactions);
                const response = await elevatedQueryTransactions(query);
              }
            order: 4
          - title: queryTransactions (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { wixRiseV1Transaction } from '@wix/dev';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { wixRiseV1Transaction },
                // Include the auth strategy and host as relevant
              });


              async function queryTransactions() {
                const { items } = await myWixClient.wixRiseV1Transaction.queryTransactions().find();
              };
            order: 2
        commonMethodData:
          name: query
          itemField: transaction
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/wallet_actions:
    post:
      deprecated: false
      description: Creates a new WalletAction.
      operationId: CreateWalletAction
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletAction_WalletActionService__v1_rise_wallet_actions_post_CreateWalletAction_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    walletAction:
                      id: <string>
                      revision: <string>
                      createdDate: <string>
                      updatedDate: <string>
                      startDate: <string>
                      expirationDate: <string>
                      disableDate: <string>
                      amount: <string>
                      note: <string>
                      type: string
                      walletActionStarted:
                        transactionId: <string>
                        executionDate: <string>
                      walletActionEnded:
                        transactionId: <string>
                        executionDate: <string>
                      status: <string>
                      source:
                        type: string
                        id: <string>
                      notifications:
                        emailParams:
                          skipEmailDispatch: <boolean>
                          overrideTemplateId: <string>
                      liability: <boolean>
                      storeCreditContext:
                        issuer: <string>
                        issuerId: <string>
                        note: <string>
                        sourceChannelId: <string>
                        sourceTenantId: <string>
                      externalEvent:
                        name: <string>
                        description: <string>
                      walletId: <string>
                      idempotencyKey: <string>
              schema:
                $ref: "#/components/schemas/CreateWalletActionResponse"
          description: OK - The request was successful
        "400":
          content:
            application/json:
              examples:
                EXPIRATION_DATE_IN_THE_PAST:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: EXPIRATION_DATE_IN_THE_PAST
                        description: <string>
                        data:
                          expirationDate: <string>
                          currentDate: <string>
                START_LATER_THAN_EXPIRATION:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: START_LATER_THAN_EXPIRATION
                        description: <string>
                        data:
                          startDate: <string>
                          expirationDate: <string>
                DISABLED_AT_DATE_SET:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: DISABLED_AT_DATE_SET
                        description: <string>
                        data:
                          disableDate: <string>
              schema:
                $ref: "#/components/schemas/CreateWalletAction_400_response"
          description: |-
            Bad Request - Invalid input or parameters

            Possible error codes: `EXPIRATION_DATE_IN_THE_PAST`, `START_LATER_THAN_EXPIRATION`, `DISABLED_AT_DATE_SET`
        "409":
          content:
            application/json:
              examples:
                EXISTING_IDEMPOTENCY_KEY:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: EXISTING_IDEMPOTENCY_KEY
                        description: <string>
                        data:
                          walletId: <string>
                          idempotencyKey: <string>
              schema:
                $ref: "#/components/schemas/EXISTING_IDEMPOTENCY_KEY"
          description: |-
            Conflict - Request conflicts with current state

            Possible error codes: `EXISTING_IDEMPOTENCY_KEY`
        "428":
          content:
            application/json:
              examples:
                WALLET_ACTION_EXCEEDS_MAXIMUM_BALANCE:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: WALLET_ACTION_EXCEEDS_MAXIMUM_BALANCE
                        description: <string>
                        data:
                          walletActionId: <string>
              schema:
                $ref: "#/components/schemas/WALLET_ACTION_EXCEEDS_MAXIMUM_BALANCE"
          description: |-
            Precondition Required - Precondition failed

            Possible error codes: `WALLET_ACTION_EXCEEDS_MAXIMUM_BALANCE`
      tags:
      - WalletAction
      x-wix-docs:
        triggeredEvents:
        - title: Wallet Action Created
          description: ""
          permissions:
          - RISE.WALLET_ACTION_READ
          exposure: PUBLIC
          maturity: BETA
          slug: created
          eventTopic: domain_events_wix.rise.v1.wallet_action
          serviceName: ""
          domainEvent: CREATED
          externalPermissionScopes: []
          eventType: wix.rise.v1.wallet_action_created
          permissionsInfo:
          - name: RISE.WALLET_ACTION_READ
            manual: false
          operationId: wix.rise.v1.WalletActionService.CreateWalletAction
          methodName: CreateWalletAction
          sourceRepo: ""
        serviceName: wix.rise.v1.WalletActionService
        errors:
        - httpCode: 400
          statusCode: INVALID_ARGUMENT
          applicationCode: EXPIRATION_DATE_IN_THE_PAST
          errorSchemaName: wix.rise.v1.WalletActionCreationExpirationDateInThePastDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: EXPIRATION_DATE_IN_THE_PAST
        - httpCode: 400
          statusCode: INVALID_ARGUMENT
          applicationCode: START_LATER_THAN_EXPIRATION
          errorSchemaName: wix.rise.v1.WalletActionCreationStartLaterThanExpirationDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: START_LATER_THAN_EXPIRATION
        - httpCode: 400
          statusCode: INVALID_ARGUMENT
          applicationCode: DISABLED_AT_DATE_SET
          errorSchemaName: wix.rise.v1.WalletActionCreationDisabledAtDateSetDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: DISABLED_AT_DATE_SET
        - httpCode: 428
          statusCode: FAILED_PRECONDITION
          applicationCode: WALLET_ACTION_EXCEEDS_MAXIMUM_BALANCE
          errorSchemaName: wix.rise.v1.WalletActionExceedsMaximumBalanceDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: WALLET_ACTION_EXCEEDS_MAXIMUM_BALANCE
        - httpCode: 409
          statusCode: ALREADY_EXISTS
          applicationCode: EXISTING_IDEMPOTENCY_KEY
          errorSchemaName: wix.rise.v1.WalletActionIdempotencyKeyDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: EXISTING_IDEMPOTENCY_KEY
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.WALLET_ACTION_CREATE
        protoArtifactId: com.wixpress.rise:rise-wallet-action-service
        serviceArtifactId: com.wixpress.rise.rise-wallet-action-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.v1.CreateWalletActionRequest
          responseMessage: wix.rise.v1.CreateWalletActionResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: walletAction
          packageName: '@wix/rise'
          namespace: walletAction
          methodExamples:
          - title: createWalletAction
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';

              async function createWalletAction(walletAction) {
                const response = await walletAction.createWalletAction(walletAction);
              };
            order: 1
          - title: createWalletAction (with elevated permissions)
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';
              import { auth } from '@wix/essentials';

              async function myCreateWalletActionMethod(walletAction) {
                const elevatedCreateWalletAction = auth.elevate(walletAction.createWalletAction);
                const response = await elevatedCreateWalletAction(walletAction);
              }
            order: 4
          - title: createWalletAction (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { walletAction } from '@wix/rise';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { walletAction },
                // Include the auth strategy and host as relevant
              });


              async function createWalletAction(walletAction) {
                const response = await myWixClient.walletAction.createWalletAction(walletAction);
              };
            order: 2
        commonMethodData:
          name: create
          itemField: walletAction
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/wallet_actions/by_customer_reference:
    post:
      deprecated: false
      description: |-
        Creates a new WalletAction by customer reference instead of wallet ID.
        If the customer already has a wallet, the action will be created on that wallet.
        If the customer does not have a wallet, a new wallet will be created for them.
      operationId: CreateWalletActionByCustomerReference
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletAction_WalletActionService__v1_rise_wallet_actions_by_customer_reference_post_CreateWalletActionByCustomerReference_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    walletAction:
                      id: <string>
                      revision: <string>
                      createdDate: <string>
                      updatedDate: <string>
                      startDate: <string>
                      expirationDate: <string>
                      disableDate: <string>
                      amount: <string>
                      note: <string>
                      type: string
                      walletActionStarted:
                        transactionId: <string>
                        executionDate: <string>
                      walletActionEnded:
                        transactionId: <string>
                        executionDate: <string>
                      status: <string>
                      source:
                        type: string
                        id: <string>
                      notifications:
                        emailParams:
                          skipEmailDispatch: <boolean>
                          overrideTemplateId: <string>
                      liability: <boolean>
                      storeCreditContext:
                        issuer: <string>
                        issuerId: <string>
                        note: <string>
                        sourceChannelId: <string>
                        sourceTenantId: <string>
                      externalEvent:
                        name: <string>
                        description: <string>
                      walletId: <string>
                      idempotencyKey: <string>
                    wallet:
                      id: <string>
                      revision: <string>
                      giftCardId: <string>
                      customerReferences: "[]"
                      createdDate: <string>
                      updatedDate: <string>
                      giftCardInfo:
                        code: <string>
                        balance: <string>
                        currency: <string>
                        codeSuffix: <string>
                      primaryContactDetails:
                        email: <string>
                        phone: <string>
                        firstName: <string>
                        lastName: <string>
              schema:
                $ref: "#/components/schemas/CreateWalletActionByCustomerReferenceResponse_1"
          description: OK - The request was successful
      tags:
      - WalletAction
      x-wix-docs:
        triggeredEvents:
        - title: Wallet Action Created
          description: ""
          permissions:
          - RISE.WALLET_ACTION_READ
          exposure: PUBLIC
          maturity: BETA
          slug: created
          eventTopic: domain_events_wix.rise.v1.wallet_action
          serviceName: ""
          domainEvent: CREATED
          externalPermissionScopes: []
          eventType: wix.rise.v1.wallet_action_created
          permissionsInfo:
          - name: RISE.WALLET_ACTION_READ
            manual: false
          operationId: wix.rise.v1.WalletActionService.CreateWalletActionByCustomerReference
          methodName: CreateWalletActionByCustomerReference
          sourceRepo: ""
        serviceName: wix.rise.v1.WalletActionService
        errors: []
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.WALLET_ACTION_CREATE
        protoArtifactId: com.wixpress.rise:rise-wallet-action-service
        serviceArtifactId: com.wixpress.rise.rise-wallet-action-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.v1.CreateWalletActionByCustomerReferenceRequest
          responseMessage: wix.rise.v1.CreateWalletActionByCustomerReferenceResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: customerReference
            - parent:
                name: options
                fields:
                - path: walletAction
                - path: newWalletCurrency
          packageName: '@wix/rise'
          namespace: walletAction
          methodExamples:
          - title: createWalletActionByCustomerReference
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';

              async function createWalletActionByCustomerReference(customerReference, options) {
                const response = await walletAction.createWalletActionByCustomerReference(customerReference, options);
              };
            order: 1
          - title: createWalletActionByCustomerReference (with elevated permissions)
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';
              import { auth } from '@wix/essentials';

              async function myCreateWalletActionByCustomerReferenceMethod(customerReference, options) {
                const elevatedCreateWalletActionByCustomerReference = auth.elevate(walletAction.createWalletActionByCustomerReference);
                const response = await elevatedCreateWalletActionByCustomerReference(customerReference, options);
              }
            order: 4
          - title: createWalletActionByCustomerReference (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { walletAction } from '@wix/rise';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { walletAction },
                // Include the auth strategy and host as relevant
              });


              async function createWalletActionByCustomerReference(customerReference, options) {
                const response = await myWixClient.walletAction.createWalletActionByCustomerReference(customerReference, options);
              };
            order: 2
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/wallet_actions/{walletActionId}:
    patch:
      deprecated: false
      description: |-
        Update a WalletAction, supports partial update.
        Pass the latest `revision` for a successful update.
      operationId: UpdateWalletAction
      parameters:
      - description: WalletAction ID.
        explode: false
        in: path
        name: walletActionId
        required: true
        schema:
          type: string
        style: simple
        x-wix-docs:
          exposure: PUBLIC
          maturity: GA
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletAction_WalletActionService__v1_rise_wallet_actions_walletActionId_patch_UpdateWalletAction_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    walletAction:
                      id: <string>
                      revision: <string>
                      createdDate: <string>
                      updatedDate: <string>
                      startDate: <string>
                      expirationDate: <string>
                      disableDate: <string>
                      amount: <string>
                      note: <string>
                      type: string
                      walletActionStarted:
                        transactionId: <string>
                        executionDate: <string>
                      walletActionEnded:
                        transactionId: <string>
                        executionDate: <string>
                      status: <string>
                      source:
                        type: string
                        id: <string>
                      notifications:
                        emailParams:
                          skipEmailDispatch: <boolean>
                          overrideTemplateId: <string>
                      liability: <boolean>
                      storeCreditContext:
                        issuer: <string>
                        issuerId: <string>
                        note: <string>
                        sourceChannelId: <string>
                        sourceTenantId: <string>
                      externalEvent:
                        name: <string>
                        description: <string>
                      walletId: <string>
                      idempotencyKey: <string>
              schema:
                $ref: "#/components/schemas/UpdateWalletActionResponse"
          description: OK - The request was successful
        "400":
          content:
            application/json:
              examples:
                START_DATE_IN_THE_PAST:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: START_DATE_IN_THE_PAST
                        description: <string>
                        data:
                          walletActionId: <string>
                          newStartDate: <string>
                          currentDate: <string>
                EXPIRATION_DATE_IN_THE_PAST:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: EXPIRATION_DATE_IN_THE_PAST
                        description: <string>
                        data:
                          walletActionId: <string>
                          newExpirationDate: <string>
                          currentDate: <string>
                START_LATER_THAN_EXPIRATION:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: START_LATER_THAN_EXPIRATION
                        description: <string>
                        data:
                          walletActionId: <string>
                          startDate: <string>
                          expirationDate: <string>
              schema:
                $ref: "#/components/schemas/UpdateWalletAction_400_response"
          description: |-
            Bad Request - Invalid input or parameters

            Possible error codes: `START_DATE_IN_THE_PAST`, `EXPIRATION_DATE_IN_THE_PAST`, `START_LATER_THAN_EXPIRATION`
        "428":
          content:
            application/json:
              examples:
                WALLET_ACTION_ALREADY_ACTIVE:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: WALLET_ACTION_ALREADY_ACTIVE
                        description: <string>
                        data:
                          walletActionId: <string>
                WALLET_ACTION_ALREADY_EXPIRED:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: WALLET_ACTION_ALREADY_EXPIRED
                        description: <string>
                        data:
                          walletActionId: <string>
              schema:
                $ref: "#/components/schemas/UpdateWalletAction_428_response"
          description: |-
            Precondition Required - Precondition failed

            Possible error codes: `WALLET_ACTION_ALREADY_ACTIVE`, `WALLET_ACTION_ALREADY_EXPIRED`
      tags:
      - WalletAction
      x-wix-docs:
        triggeredEvents:
        - title: Wallet Action Updated
          description: ""
          permissions:
          - RISE.WALLET_ACTION_READ
          exposure: PUBLIC
          maturity: BETA
          slug: updated
          eventTopic: domain_events_wix.rise.v1.wallet_action
          serviceName: ""
          domainEvent: UPDATED
          externalPermissionScopes: []
          eventType: wix.rise.v1.wallet_action_updated
          permissionsInfo:
          - name: RISE.WALLET_ACTION_READ
            manual: false
          operationId: wix.rise.v1.WalletActionService.UpdateWalletAction
          methodName: UpdateWalletAction
          sourceRepo: ""
        serviceName: wix.rise.v1.WalletActionService
        errors:
        - httpCode: 428
          statusCode: FAILED_PRECONDITION
          applicationCode: WALLET_ACTION_ALREADY_ACTIVE
          errorSchemaName: wix.rise.v1.InvalidWalletActionDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: WALLET_ACTION_ALREADY_ACTIVE
        - httpCode: 400
          statusCode: INVALID_ARGUMENT
          applicationCode: START_DATE_IN_THE_PAST
          errorSchemaName: wix.rise.v1.WalletActionUpdateStartDateInThePastDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: START_DATE_IN_THE_PAST
        - httpCode: 428
          statusCode: FAILED_PRECONDITION
          applicationCode: WALLET_ACTION_ALREADY_EXPIRED
          errorSchemaName: wix.rise.v1.InvalidWalletActionDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: WALLET_ACTION_ALREADY_EXPIRED
        - httpCode: 400
          statusCode: INVALID_ARGUMENT
          applicationCode: EXPIRATION_DATE_IN_THE_PAST
          errorSchemaName: wix.rise.v1.WalletActionUpdateExpirationDateInThePastDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: EXPIRATION_DATE_IN_THE_PAST
        - httpCode: 400
          statusCode: INVALID_ARGUMENT
          applicationCode: START_LATER_THAN_EXPIRATION
          errorSchemaName: wix.rise.v1.WalletActionUpdateStartLaterThanExpirationDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: START_LATER_THAN_EXPIRATION
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.WALLET_ACTION_UPDATE
        protoArtifactId: com.wixpress.rise:rise-wallet-action-service
        serviceArtifactId: com.wixpress.rise.rise-wallet-action-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.v1.UpdateWalletActionRequest
          responseMessage: wix.rise.v1.UpdateWalletActionResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: walletAction.id
            - field:
                path: walletAction
            - parent:
                name: options
                fields: []
          packageName: '@wix/rise'
          namespace: walletAction
          methodExamples:
          - title: updateWalletAction
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';

              async function updateWalletAction(id, walletAction) {
                const response = await walletAction.updateWalletAction(id, walletAction);
              };
            order: 1
          - title: updateWalletAction (with elevated permissions)
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';
              import { auth } from '@wix/essentials';

              async function myUpdateWalletActionMethod(id, walletAction) {
                const elevatedUpdateWalletAction = auth.elevate(walletAction.updateWalletAction);
                const response = await elevatedUpdateWalletAction(id, walletAction);
              }
            order: 4
          - title: updateWalletAction (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { walletAction } from '@wix/rise';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { walletAction },
                // Include the auth strategy and host as relevant
              });


              async function updateWalletAction(id, walletAction) {
                const response = await myWixClient.walletAction.updateWalletAction(id, walletAction);
              };
            order: 2
        commonMethodData:
          name: update
          itemField: walletAction
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/wallet_actions/{walletActionId}/disable:
    post:
      deprecated: false
      description: Disable a WalletAction immediately and deduct the remaining balance
        from the wallet.
      operationId: DisableWalletAction
      parameters:
      - description: ID of the WalletAction to delete.
        explode: false
        in: path
        name: walletActionId
        required: true
        schema:
          type: string
        style: simple
        x-wix-docs:
          exposure: PUBLIC
          maturity: GA
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletAction_WalletActionService__v1_rise_wallet_actions_walletActionId_disable_post_DisableWalletAction_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    walletAction:
                      id: <string>
                      revision: <string>
                      createdDate: <string>
                      updatedDate: <string>
                      startDate: <string>
                      expirationDate: <string>
                      disableDate: <string>
                      amount: <string>
                      note: <string>
                      type: string
                      walletActionStarted:
                        transactionId: <string>
                        executionDate: <string>
                      walletActionEnded:
                        transactionId: <string>
                        executionDate: <string>
                      status: <string>
                      source:
                        type: string
                        id: <string>
                      notifications:
                        emailParams:
                          skipEmailDispatch: <boolean>
                          overrideTemplateId: <string>
                      liability: <boolean>
                      storeCreditContext:
                        issuer: <string>
                        issuerId: <string>
                        note: <string>
                        sourceChannelId: <string>
                        sourceTenantId: <string>
                      externalEvent:
                        name: <string>
                        description: <string>
                      walletId: <string>
                      idempotencyKey: <string>
              schema:
                $ref: "#/components/schemas/DisableWalletActionResponse"
          description: OK - The request was successful
        "428":
          content:
            application/json:
              examples:
                WALLET_ACTION_ALREADY_EXPIRED:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: WALLET_ACTION_ALREADY_EXPIRED
                        description: <string>
                        data:
                          walletActionId: <string>
                WALLET_ACTION_NOT_ACTIVE:
                  value:
                    message: <string>
                    details:
                      applicationError:
                        code: WALLET_ACTION_NOT_ACTIVE
                        description: <string>
                        data:
                          walletActionId: <string>
              schema:
                $ref: "#/components/schemas/DisableWalletAction_428_response"
          description: |-
            Precondition Required - Precondition failed

            Possible error codes: `WALLET_ACTION_ALREADY_EXPIRED`, `WALLET_ACTION_NOT_ACTIVE`
      tags:
      - WalletAction
      x-wix-docs:
        triggeredEvents:
        - title: Wallet Action Disabled
          description: ""
          permissions:
          - RISE.WALLET_ACTION_READ
          payload:
            schemaName: wix.rise.v1.WalletActionDisabled
          exposure: PUBLIC
          maturity: BETA
          slug: disabled
          eventTopic: domain_events_wix.rise.v1.wallet_action
          serviceName: ""
          domainEvent: CUSTOM_ACTION
          externalPermissionScopes: []
          eventType: wix.rise.v1.wallet_action_disabled
          permissionsInfo:
          - name: RISE.WALLET_ACTION_READ
            manual: false
          operationId: wix.rise.v1.WalletActionService.DisableWalletAction
          methodName: DisableWalletAction
          sourceRepo: ""
        serviceName: wix.rise.v1.WalletActionService
        errors:
        - httpCode: 428
          statusCode: FAILED_PRECONDITION
          applicationCode: WALLET_ACTION_ALREADY_EXPIRED
          errorSchemaName: wix.rise.v1.InvalidWalletActionDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: WALLET_ACTION_ALREADY_EXPIRED
        - httpCode: 428
          statusCode: FAILED_PRECONDITION
          applicationCode: WALLET_ACTION_NOT_ACTIVE
          errorSchemaName: wix.rise.v1.InvalidWalletActionDetails
          errorType: APPLICATION
          applicationCodeData:
            applicationCode: WALLET_ACTION_NOT_ACTIVE
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.WALLET_ACTION_UPDATE
        protoArtifactId: com.wixpress.rise:rise-wallet-action-service
        serviceArtifactId: com.wixpress.rise.rise-wallet-action-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.v1.DisableWalletActionRequest
          responseMessage: wix.rise.v1.DisableWalletActionResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: walletActionId
            - field:
                path: revision
          packageName: '@wix/rise'
          namespace: walletAction
          methodExamples:
          - title: disableWalletAction
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';

              async function disableWalletAction(walletActionId, revision) {
                const response = await walletAction.disableWalletAction(walletActionId, revision);
              };
            order: 1
          - title: disableWalletAction (with elevated permissions)
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';
              import { auth } from '@wix/essentials';

              async function myDisableWalletActionMethod(walletActionId, revision) {
                const elevatedDisableWalletAction = auth.elevate(walletAction.disableWalletAction);
                const response = await elevatedDisableWalletAction(walletActionId, revision);
              }
            order: 4
          - title: disableWalletAction (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { walletAction } from '@wix/rise';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { walletAction },
                // Include the auth strategy and host as relevant
              });


              async function disableWalletAction(walletActionId, revision) {
                const response = await myWixClient.walletAction.disableWalletAction(walletActionId, revision);
              };
            order: 2
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/wallet_actions/query:
    post:
      deprecated: false
      description: "Query WalletActions using [API Query Language](https://platform.rise.ai/docs/#tag/About-API-Query-Language)."
      operationId: QueryWalletActions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletAction_WalletActionService__v1_rise_wallet_actions_query_post_QueryWalletActions_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    walletActions: "[]"
                    pagingMetadata:
                      count: <number>
                      offset: <number>
                      total: <number>
                      tooManyToCount: <boolean>
                      cursors:
                        next: <string>
                        prev: <string>
              schema:
                $ref: "#/components/schemas/QueryWalletActionResponse_1"
          description: OK - The request was successful
      tags:
      - WalletAction
      x-wix-docs:
        triggeredEvents: []
        serviceName: wix.rise.v1.WalletActionService
        errors: []
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.WALLET_ACTION_READ
        protoArtifactId: com.wixpress.rise:rise-wallet-action-service
        serviceArtifactId: com.wixpress.rise.rise-wallet-action-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.v1.QueryWalletActionRequest
          responseMessage: wix.rise.v1.QueryWalletActionResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: query
          packageName: '@wix/rise'
          namespace: walletAction
          methodExamples:
          - title: queryWalletActions
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';

              async function queryWalletActions() {
                const { items } = await walletAction.queryWalletActions().find();
              };
            order: 1
          - title: queryWalletActions (with elevated permissions)
            description: ""
            content: |-
              import { walletAction } from '@wix/rise';
              import { auth } from '@wix/essentials';

              async function myQueryWalletActionsMethod(query) {
                const elevatedQueryWalletActions = auth.elevate(walletAction.queryWalletActions);
                const response = await elevatedQueryWalletActions(query);
              }
            order: 4
          - title: queryWalletActions (self-hosted)
            description: "Self-hosted SDK calls require you to [create a client](https://dev.wix.com/docs/sdk/articles/work-with-the-sdk/about-the-wix-client)."
            content: |-
              import { createClient } from '@wix/sdk';
              import { walletAction } from '@wix/rise';
              // Import the auth strategy for the relevant access type
              // Import the relevant host module if needed

              const myWixClient = createClient ({
                modules: { walletAction },
                // Include the auth strategy and host as relevant
              });


              async function queryWalletActions() {
                const { items } = await myWixClient.walletAction.queryWalletActions().find();
              };
            order: 2
        commonMethodData:
          name: query
          itemField: walletAction
        sourceRepo: git@github.com:wix-private/wix-vmr-repo.git
  /v1/rise/wallet_actions/query/balances:
    post:
      deprecated: false
      description: |-
        Query all WalletActions using [API Query Language](https://platform.rise.ai/docs/#tag/About-API-Query-Language).
        Results are enriched with the remaining balance of each WalletAction.
      operationId: QueryWalletActionsBalances
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletAction_WalletActionService__v1_rise_wallet_actions_query_post_QueryWalletActions_RequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success-response:
                  value:
                    walletActions: "[]"
                    pagingMetadata:
                      count: <number>
                      offset: <number>
                      total: <number>
                      tooManyToCount: <boolean>
                      cursors:
                        next: <string>
                        prev: <string>
              schema:
                $ref: "#/components/schemas/QueryWalletActionBalancesResponse_1"
          description: OK - The request was successful
      tags:
      - WalletAction
      x-wix-docs:
        triggeredEvents: []
        serviceName: wix.rise.v1.WalletActionService
        errors: []
        exposure: PUBLIC
        maturity: BETA
        permissions:
        - RISE.WALLET_ACTION_READ
        protoArtifactId: com.wixpress.rise:rise-wallet-action-service
        serviceArtifactId: com.wixpress.rise.rise-wallet-action-service
        labels:
        - identifier: BETA
        - identifier: exposure
          values:
          - PUBLIC
        rpcMethodDetails:
          requestMessage: wix.rise.v1.QueryWalletActionBalancesRequest
          responseMessage: wix.rise.v1.QueryWalletActionBalancesResponse
        legacyExamples: []
        sdkData:
          signature:
            resolved:
            - field:
                path: query
          packageName: '@wix/rise'
          namespace: walletAction
          methodExamples:
          - title: queryWalletActionsBalances
            description: ""
            content: |-
[...]
